---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    <div class="share-icons">
      <a class="facebook-share-icon" href="javascript: void(0);" onclick="popup('http://www.facebook.com/sharer.php?u={{ site.url }}{{ post.url }}')"><img width="24" src="/public/share-icons/fb_48.png"></a>
      <a class="twitter-share-icon" href="javascript: void(0);" onclick="popup('https://twitter.com/intent/tweet?text={{ post.title }} {{ site.url }}{{ post.url }} @kulekci')" ><img width="24" src="/public/share-icons/t_48.png"></a>
      <a class="googleplus-share-icon" href="javascript: void(0);" onclick="popup('https://plus.google.com/share?url={{ site.url }}{{ post.url }}')"><img width="24" src="/public/share-icons/gplus_48.png"></a>
      <a class="whatsapp-share-icon" href="whatsapp://send?text={{ post.title }} {{ site.url }}{{ post.url }}" data-action="share/whatsapp/share"><img width="24" src="/public/share-icons/w_48.png"></a>
    </div>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
