.contact1 {
    float: left;
    font-size: 12px;
}
.contact2 {
    font-size: 12px;
    text-align: right;
}

.share-icons {
	img {
		margin-bottom: 0px !important;
		display: inline-table !important;
	}

	@media (min-width:1024px){
		.whatsapp-share-icon{
			display:none;
		}
	}  
}