---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>

  <div class="share-icons">
    <a class="facebook-share-icon" href="javascript: void(0);" onclick="popup('http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}')"><img width="24" src="/public/share-icons/fb_48.png"></a>
    <a class="twitter-share-icon" href="javascript: void(0);" onclick="popup('https://twitter.com/intent/tweet?text={{ page.title }} {{ site.url }}{{ page.url }} @kulekci')" ><img width="24" src="/public/share-icons/t_48.png"></a>
    <a class="googleplus-share-icon" href="javascript: void(0);" onclick="popup('https://plus.google.com/share?url={{ site.url }}{{ page.url }}')"><img width="24" src="/public/share-icons/gplus_48.png"></a>
    <a class="whatsapp-share-icon" href="whatsapp://send?text={{ page.title }} {{ site.url }}{{ page.url }}" data-action="share/whatsapp/share"><img width="24" src="/public/share-icons/w_48.png"></a>
  </div>

  {{ content }}

  <div class="comment-on-me">
    <h4> Share you opinion with us : </h4>
    If you want to say something or share your opinion about this blog post, please 
    <a href="https://github.com/hkulekci/hkulekci.github.com/issues/new?title={{ page.title }}">create an issue</a> 
    on Github. Or you can also contribute this article with 
    <a href="https://github.com/hkulekci/hkulekci.github.com/pulls">pull request</a>.
    You can be sure I'll look that.
  </div>
</div>

<div class="related">
  <h2>Older Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.url }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>